@import './styles/variables.css';
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
  background: #ffffff;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}